#ut-new-contribution {
  display: none;
  grid-template-rows: repeat(3, min-content) minmax(auto, 49vh) auto;
  grid-row-gap: 1.2rem;
  height: 100%;
  max-height: 100%;

  &.ut-body--active {
    display: grid;
  }

  & .accordion {
    align-self: start;
    font-size: 1.6rem;
  }

  & .buttons {
    margin-top: 1.2rem;
  }
}

.ut-input {
  width: 100%;
  height: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  & input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 0 1.2rem;
    color: $color-primary-dark-2;
  }
  &--valid {
    box-shadow: 2px 2px 5px $color-success;
  }

  &--error {
    box-shadow: 2px 2px 5px $color-error;
  }
}

.gh-list {
  list-style: none;
  overflow: auto;
  &__item {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 1.2rem;
    padding: 0.5rem 0;
    padding-right: 0.5rem;
    &:hover {
      cursor: pointer;
    }
    &:not(:first-child) {
      border-top: $border-dashed-sm;
    }

    &--selected .gh-repo__fullname::after {
      content: $icon-check-circle;
      font-family: icomoon;
      margin-left: 0.5rem;
      color: $color-primary;
    }
  }
}

.gh-avatar {
  width: 3.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  & img {
    object-fit: contain;
    width: 100%;
  }
}

.gh-repo {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 0.5rem;
  padding: 0.5rem;
  &__fullname {
    font-size: 1.4rem;
  }
  &__info {
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(3rem, max-content));
    grid-column-gap: 1.5rem;
    justify-content: space-between;
    align-items: end;
    font-size: 1rem;
    font-weight: 400;
  }
  &__update-time svg {
    height: 1rem;
    width: 1rem;
  }
  &__stars::before {
    content: $icon-star;
    font-family: 'icomoon';
    margin-right: 0.3rem;
  }
  &__update-time::before {
    content: $icon-update;
    font-family: 'icomoon';
    margin-right: 0.3rem;
  }
  &__license::before {
    content: $icon-import-contacts;
    font-family: 'icomoon';
    margin-right: 0.3rem;
  }
  &__forks::before {
    content: $icon-call-split;
    font-family: 'icomoon';
    margin-right: 0.3rem;
  }
}
